.search-results {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.product {
  margin-bottom: 20px; 
  text-align: center; 
}

.product h3, .product p {
  margin: 0; 
}

.product-price {
  font-weight: bold; 
}

.btn {
  width: 100%; 
  max-width: 200px; 
  margin-top: 10px; 
}